body {
  font-family: sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background: white; /* corrigido: "backgruond" para "background" */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem; /* c*
